.u-section-1 {
  background-image: linear-gradient(0deg, rgba(41,46,51,0.4), rgba(41,46,51,0.4)), url("../images/munchkinbg.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1694px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1222px;
  margin: 36px auto 0 -41px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 394px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 100px;
  height: 129px;
  margin: 27px auto 0;
}

.u-section-1 .u-group-1 {
  min-height: 209px;
  margin-bottom: 0;
  margin-top: 13px;
  height: auto;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 8px 1px 0;
}

.u-section-1 .u-text-2 {
  text-align: center;
  margin: 12px 1px 0;
}

.u-section-1 .u-text-3 {
  text-align: center;
  margin: 10px 1px 0;
}

.u-section-1 .u-text-4 {
  text-align: center;
  margin: 10px 1px 0;
}

.u-section-1 .u-text-5 {
  text-align: center;
  margin: 10px 1px 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 394px;
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  width: 100px;
  height: 129px;
  margin: 25px auto 0;
}

.u-section-1 .u-group-2 {
  min-height: 209px;
  height: auto;
  margin-top: 14px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: 8px 1px 0;
}

.u-section-1 .u-text-7 {
  text-align: center;
  margin: 12px 1px 0;
}

.u-section-1 .u-text-8 {
  text-align: center;
  margin: 10px 1px 0;
}

.u-section-1 .u-text-9 {
  text-align: center;
  margin: 10px 1px 0;
}

.u-section-1 .u-text-10 {
  text-align: center;
  margin: 10px 1px 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 394px;
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-image-3 {
  width: 100px;
  height: 129px;
  margin: 25px auto 0;
}

.u-section-1 .u-group-3 {
  min-height: 209px;
  height: auto;
  margin-top: 14px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  margin: 8px 1px 0;
}

.u-section-1 .u-text-12 {
  text-align: center;
  margin: 12px 1px 0;
}

.u-section-1 .u-text-13 {
  text-align: center;
  margin: 10px 1px 0;
}

.u-section-1 .u-text-14 {
  text-align: center;
  margin: 10px 1px 0;
}

.u-section-1 .u-text-15 {
  text-align: center;
  margin: 10px 1px 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 373px;
  background-image: none;
}

.u-section-1 .u-container-layout-7 {
  padding: 0 17px;
}

.u-section-1 .u-image-4 {
  object-position: 96.8% 100%;
  width: 129px;
  height: 194px;
  margin: 10px auto 0;
}

.u-section-1 .u-group-4 {
  min-height: 153px;
  width: 372px;
  margin: -8px 0 0;
}

.u-section-1 .u-text-16 {
  margin: 10px 0 0;
}

.u-section-1 .u-text-17 {
  text-align: center;
  margin: 12px 0 0;
}

.u-section-1 .u-group-5 {
  min-height: 1147px;
  width: 1222px;
  height: auto;
  margin: 7px -41px 60px;
}

.u-section-1 .u-container-layout-9 {
  padding: 0 11px 26px;
}

.u-section-1 .u-text-18 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 29px 31px 0;
}

.u-section-1 .u-text-19 {
  font-weight: 700;
  text-align: center;
  font-size: 1.5rem;
  margin: 17px 31px 0;
}

.u-section-1 .u-layout-wrap-2 {
  margin-top: 17px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 954px;
}

.u-section-1 .u-container-layout-10 {
  padding: 0;
}

.u-section-1 .u-group-6 {
  width: 180px;
  min-height: 236px;
  margin: 28px auto 0 26px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 1.125rem;
  background-image: none;
  margin: 0 0 0 auto;
  padding: 8px 49px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 1.125rem;
  background-image: none;
  margin: 20px auto 0;
  padding: 7px 43px 9px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  font-size: 1.125rem;
  background-image: none;
  margin: 20px auto 0;
  padding: 7px 38px 9px 36px;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  font-size: 1.125rem;
  background-image: none;
  margin: 20px auto 0;
  padding: 8px 43px 8px 42px;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 954px;
}

.u-section-1 .u-container-layout-12 {
  padding: 30px 0;
}

.u-section-1 .u-text-20 {
  font-weight: 700;
  margin: 7px 20px 0 0;
}

.u-section-1 .u-group-7 {
  width: 252px;
  min-height: 143px;
  margin: 10px auto 0 0;
}

.u-section-1 .u-text-21 {
  text-align: left;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-22 {
  text-align: left;
  margin: 0;
}

.u-section-1 .u-text-23 {
  text-align: left;
  margin: 1px 0 0;
}

.u-section-1 .u-btn-5 {
  text-align: center;
  background-image: none;
  border-style: none;
  margin: 10px auto 0 0;
  padding: 5px 9px 5px 7px;
}

.u-section-1 .u-text-24 {
  font-weight: 700;
  text-align: left;
  margin: -5px 85px 0 0;
}

.u-section-1 .u-group-8 {
  width: 252px;
  min-height: 142px;
  margin: 9px auto 0 0;
}

.u-section-1 .u-text-25 {
  text-align: left;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-26 {
  text-align: left;
  margin: 0;
}

.u-section-1 .u-text-27 {
  text-align: left;
  margin: 1px 0 0;
}

.u-section-1 .u-btn-6 {
  text-align: center;
  background-image: none;
  border-style: none;
  margin: 10px auto 0 0;
  padding: 5px 9px 5px 7px;
}

.u-section-1 .u-text-28 {
  font-weight: 700;
  text-align: left;
  margin: -6px 5px 0 0;
}

.u-section-1 .u-group-9 {
  width: 252px;
  min-height: 142px;
  margin: 11px auto 0 0;
}

.u-section-1 .u-text-29 {
  text-align: left;
  font-weight: 700;
  margin: 0;
}

.u-section-1 .u-text-30 {
  text-align: left;
  margin: 0;
}

.u-section-1 .u-text-31 {
  text-align: left;
  margin: 1px 0 0;
}

.u-section-1 .u-btn-7 {
  text-align: center;
  background-image: none;
  border-style: none;
  margin: 10px auto 0 0;
  padding: 5px 9px 5px 7px;
}

.u-section-1 .u-layout-cell-7 {
  min-height: 954px;
}

.u-section-1 .u-container-layout-16 {
  padding: 30px 0;
}

.u-section-1 .u-text-32 {
  font-weight: 700;
  margin: 7px 126px 0 0;
}

.u-section-1 .u-group-10 {
  width: 252px;
  min-height: 206px;
  margin: 10px auto 0 0;
}

.u-section-1 .u-text-33 {
  text-align: left;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-34 {
  text-align: left;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-35 {
  text-align: left;
  margin: 5px auto 0 0;
}

.u-section-1 .u-text-36 {
  text-align: left;
  margin: 5px auto 0 0;
}

.u-section-1 .u-text-37 {
  text-align: left;
  margin: 5px 0 0;
}

.u-section-1 .u-btn-8 {
  text-align: center;
  background-image: none;
  border-style: none;
  margin: 10px auto 0 0;
  padding: 5px 9px 5px 7px;
}

.u-section-1 .u-layout-cell-8 {
  min-height: 954px;
}

.u-section-1 .u-container-layout-18 {
  padding: 5px 0;
}

.u-section-1 .u-group-11 {
  width: 330px;
  min-height: 48px;
  margin: 22px 30px 0 0;
}

.u-section-1 .u-container-layout-19 {
  padding-right: 30px;
  padding-left: 5px;
}

.u-section-1 .u-text-38 {
  text-align: left;
  margin: 10px auto 0 9px;
}

.u-section-1 .u-group-12 {
  min-height: 650px;
  width: 330px;
  margin: 15px auto 0 0;
}

.u-section-1 .u-container-layout-20 {
  padding: 12px;
}

.u-section-1 .u-text-39 {
  margin: 0 130px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 959px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1311px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 303px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 303px;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 303px;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 287px;
  }

  .u-section-1 .u-group-4 {
    width: 289px;
  }

  .u-section-1 .u-group-5 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
    height: auto;
  }

  .u-section-1 .u-text-18 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-19 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 787px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 787px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 0;
  }

  .u-section-1 .u-group-7 {
    width: 214px;
  }

  .u-section-1 .u-text-24 {
    margin-right: 19px;
  }

  .u-section-1 .u-group-8 {
    width: 214px;
  }

  .u-section-1 .u-text-28 {
    margin-right: 0;
  }

  .u-section-1 .u-group-9 {
    width: 214px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 787px;
  }

  .u-section-1 .u-text-32 {
    margin-right: 45px;
  }

  .u-section-1 .u-group-10 {
    width: 157px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 787px;
  }

  .u-section-1 .u-group-11 {
    width: 235px;
    margin-right: 0;
  }

  .u-section-1 .u-group-12 {
    width: 235px;
    margin-right: 0;
  }

  .u-section-1 .u-text-39 {
    margin-right: 82px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 461px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1124px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-group-4 {
    width: 212px;
  }

  .u-section-1 .u-group-5 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-group-6 {
    width: 165px;
    margin-left: 27px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-1 .u-group-7 {
    width: 163px;
  }

  .u-section-1 .u-text-24 {
    margin-right: 0;
  }

  .u-section-1 .u-group-8 {
    width: 163px;
  }

  .u-section-1 .u-group-9 {
    width: 163px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-1 .u-text-32 {
    margin-right: 64px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 100px;
  }

  .u-section-1 .u-group-11 {
    width: 180px;
  }

  .u-section-1 .u-group-12 {
    width: 180px;
    margin-right: auto;
  }

  .u-section-1 .u-text-39 {
    margin-right: 16px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 407px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1324px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-5 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-19 {
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-20 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 125px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-group-5 {
    width: 340px;
  }

  .u-section-1 .u-text-18 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-32 {
    margin-right: 0;
  }
}

input {
  margin:8px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  background-color: #ffffff;
}
.no-outline:focus {
  outline: none;
}