.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button1 {background-color: #4CAF50;} /* Green */
.button2 {background-color: #AA0000;} /* Red */
.button3 {background-color: #af744c;} /* Orange */
.button4 {background-color: #0044aa;} /* Blue */

/* class for scroll box */
.myBoxSc {
    background-color: lightblue;
    width: 550px;
    height: 375px;
    overflow: scroll;
}

/* class for normal box */
.myBoxNr {
    background-color: lightblue;
    width: 500px;
    height: 110px;
}

/*  */
.hiddenText {
    color:white;
}

