.u-section-1 {
    background-image: url("../images/munchkinbg.jpg");
    background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
    min-height: 50vw;
}

.u-section-1 .u-group-1 {
    min-height: 603px;
    margin-top: 60px;
    margin-bottom: 60px;
    width: 1140px;
    height: auto;
}

.u-section-1 .u-container-layout-1 {
    padding: 0 30px;
}

.u-section-1 .u-text-1 {
    font-style: italic;
    font-weight: 700;
    margin: 73px auto 0;
}

.u-section-1 .u-image-1 {
    width: 282px;
    height: 309px;
    margin: 20px auto 0 30px;
}

.u-section-1 .u-image-2 {
    width: 283px;
    height: 315px;
    margin: -309px 30px 0 auto;
}

.u-section-1 .u-group-2 {
    width: 314px;
    min-height: 55px;
    margin: -156px auto 0;
}

.u-section-1 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
}

.u-section-1 .u-text-2 {
    font-weight: 700;
    margin: 15px 0 0;
}

.u-section-1 .u-btn-1 {
    border-style: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
    background-image: none;
    margin: 40px auto 0;
    padding: 8px 87px 10px;
}

.u-section-1 .u-text-3 {
    font-weight: 400;
    margin: 80px auto 0;
}

@media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
        min-height: 596px;
    }

    .u-section-1 .u-text-1 {
        margin-top: 101px;
    }

    .u-section-1 .u-image-1 {
        margin-top: 40px;
    }

    .u-section-1 .u-image-2 {
        margin-top: -312px;
    }

    .u-section-1 .u-container-layout-2 {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .u-section-1 .u-btn-1 {
        margin-top: 115px;
    }

    .u-section-1 .u-text-3 {
        margin-top: 61px;
    }
}

@media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
        min-height: 457px;
    }

    .u-section-1 .u-image-1 {
        margin-top: -12px;
    }
}

@media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
        min-height: 343px;
    }

    .u-section-1 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
        min-height: 216px;
    }

    .u-section-1 .u-image-1 {
        margin-top: 26px;
    }

    .u-section-1 .u-group-2 {
        margin-top: -217px;
    }

    .u-section-1 .u-btn-1 {
        margin-top: 87px;
    }

    .u-section-1 .u-text-3 {
        margin-top: -102px;
    }
}

.input-text-middle {
    padding-bottom: 12px;
    text-align: center;
}
.input-text-middle::-webkit-input-placeholder {
    text-align: center;
}
.input-text-middle:-moz-placeholder {
    text-align: center;
}