.u-section-1 {
    background-image: url("../images/Background.jpg");
    background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
    min-height: 50vw;
}

.u-section-1 .u-group-1 {
    min-height: 603px;
    margin-top: 60px;
    margin-bottom: 57px;
}

.u-section-1 .u-container-layout-1 {
    padding: 0 30px;
}

.u-section-1 .u-text-1 {
    font-style: italic;
    font-weight: 700;
    margin: 73px auto 0;
}

.u-section-1 .u-image-1 {
    width: 282px;
    height: 309px;
    margin: 20px auto 0 30px;
}

.u-section-1 .u-image-2 {
    width: 283px;
    height: 315px;
    margin: -309px 30px 0 auto;
}

.u-section-1 .u-text-2 {
    width: 314px;
    margin: -224px auto 0;
}

.u-section-1 .u-group-2 {
    width: 314px;
    min-height: 164px;
    margin: 30px auto 0;
}

.u-section-1 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
}

.u-section-1 .u-text-3 {
    font-weight: 700;
    margin: 59px 0 0;
}

.u-section-1 .u-text-4 {
    font-weight: 400;
    margin: 81px auto 0;
}

@media (max-width: 1199px) {
    .u-section-1 .u-container-layout-2 {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

@media (max-width: 767px) {
    .u-section-1 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }
}