<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link th:href="@{/css/index.css}" rel="stylesheet" />
    <meta http-equiv="refresh" content="5">
</head>

<body>
<table>
    <tr>

        <th><h2 style="color: blue;">
            <input style="color: blue;" type="text" th:object="${currentUser}" th:field="*{name}" disabled>
        </h2></th>
        <th><h2 style="color: blue;" th:text="${playerClass}"></h2></th>
        <th><h2 style="color: blue;"th:text="${playerRace}"></h2></th>
        <th><h2 style="color: blue;"th:text="${playerLevel}"></h2></th>
        <th><h2 style="color: blue;"th:text="${playerStrength}"></h2></th>
    </tr>
</table>

<div class="logo_html_generator">
    <img th:src="@{/images/GenericMunchkinPicture.png}" height="200px"/>
    <img th:src="@{${'/images/' + door + '.png'}}" width="120"/>
</div>

<button class="button button2">Kaempfen</button>
<button class="button button1">Weglaufen</button>
<button class="button button1">Zauber</button>
<button class="button button2">Verkaufen</button>

<form action="#" th:action="@{${#httpServletRequest.requestURI+'/fight'}}" method="post">
    <div>
        <input type="submit" th:value="${fightingButton}">
    </div>
</form>

<h1>Eigenschaften</h1>

<table>
    <tr>
        <th>Kopfbedeckung</th>
    </tr>
    <tr>
        <td>Name: </td>
        <td th:text="${headgearName}"></td>
    </tr>
    <tr>
        <td>Bonus: </td>
        <td th:if="${headgearBonus}" th:text="${headgearBonus}"></td>
    </tr>
    <tr>
        <td>Wert: </td>
        <td th:if="${headgearValue}" th:text="${headgearValue}"></td>
        <td>
        <form action="#" th:action="@{${#httpServletRequest.requestURI+'/sellHeadgear'}}" method="post">
            <input th:if="${headgearValue}" type="submit" th:value="Verkauf">
        </form>
        </td>
    </tr>
</table>


<table>
    <tr>
        <th>Ruestung</th>
    </tr>
    <tr>
        <td>Name: </td>
        <td th:text="${armourName}"></td>
    </tr>
    <tr>
        <td>Bonus: </td>
        <td th:if="${armourBonus}" th:text="${armourBonus}"></td>
    </tr>
    <tr>
        <td>Wert: </td>
        <td th:if="${armourValue}" th:text="${armourValue}"></td>
        <td>
            <form action="#" th:action="@{${#httpServletRequest.requestURI+'/sellArmour'}}" method="post">
                <input th:if="${armourValue}" type="submit" th:value="Verkauf">
            </form>
        </td>
    </tr>
</table>

<table>
    <tr>
        <th>Schuhe</th>
    </tr>
    <tr>
        <td>Name: </td>
        <td th:text="${bootsName}"></td>
    </tr>
    <tr>
        <td>Bonus: </td>
        <td th:if="${bootsBonus}" th:text="${bootsBonus}"></td>
    </tr>
    <tr>
        <td>Wert: </td>
        <td th:if="${bootsValue}" th:text="${bootsValue}"></td>
        <td>
            <form action="#" th:action="@{${#httpServletRequest.requestURI+'/sellBoots'}}" method="post">
                <input th:if="${bootsValue}" type="submit" th:value="Verkauf">
            </form>
        </td>
    </tr>
</table>

<table>
    <tr>
        <th>Gegenstaende</th>
    </tr>
    <tr th:each="item : ${items}">
        <td>Name: </td>
        <td th:text="${item.name}"></td>
        <td>Beschreibung: </td>
        <td th:text="${item.description}"></td>
        <td>Bonus: </td>
        <td th:text="${item.bonus}"></td>
        <td>Wert: </td>
        <td th:text="${item.value}"></td>
        <td>
            <form action="#" th:action="@{${#httpServletRequest.requestURI}+'/'+${item.name}}" method="post">
                <input type="submit" th:value="Verkauf">
            </form>
        </td>
    </tr>
    <td th:if="${Noitem}" th:text="${Noitem}"></td>
</table>


<div class="myBox">
    <table >
        <tr th:each="message : ${messages}">
            <td th:text="${message.messageText}"></td>
        </tr>
    </table>
</div>
<table>
    <form action="#" th:action="@{${#httpServletRequest.requestURI}}" object="${newMessaga}" newMessaga="message" method="post">
        <input type="text" field="*{name}" name="messageText" class="form-control" id="name" required="" pattern="^\S.*$" placeholder="Chat message">
        <div class="row">
            <div class="col-md-6 mt-5">
                <input type="submit" class="btn btn-primary" value="Send">
            </div>
        </div>
    </form>
</table>

<footer th:insert="fragments/common.html :: footer"></footer>
</body>
</html>