<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Dungeon spiel</title>
    <th:block th:include="fragments/common.html :: headerfiles"> </th:block>
    <meta http-equiv="refresh" content="2">
    <script src="../static/js/coreLoginPage.js"></script>
    <script th:src="@{/js/coreLoginPage.js}"></script>
    <link th:href="@{/css/indexLoginPage.css}" rel="stylesheet" />
</head>

<body th:onload="'moveImage();'" >
<table style="width:50%">
    <tr>
        <th></th>
        <th>Wilkommen zu Dungeon</th>
        <th></th>
    </tr>
    <tr>
        <td><img th:src="@{${'/images/effects/torche.gif'}}" width="200px"/> </td>
        <td><img th:src="@{${'/images/effects/DungeonDoor.png'}}" height="200px"/> </td>
        <td><img th:src="@{${'/images/effects/torche.gif'}}" width="200px"/> </td>
    </tr>
    <tr>
        <td></td>
        <td>Ein auf Munchkin basierendes Spiel</td>
        <td></td>
    </tr>
    <tr>
        <td colspan="3" class="playful">
            <span aria-hidden="true">M</span>
            <span aria-hidden="true">o</span>
            <span aria-hidden="true">e</span>
            <span aria-hidden="true">c</span>
            <span aria-hidden="true">h</span>
            <span aria-hidden="true">t</span>
            <span aria-hidden="true">e</span>
            <span aria-hidden="true">s</span>
            <span aria-hidden="true">t</span>
            <span aria-hidden="true">&emsp;</span>
            <span aria-hidden="true">d</span>
            <span aria-hidden="true">u</span>
            <span aria-hidden="true">&emsp;</span>
            <span aria-hidden="true">s</span>
            <span aria-hidden="true">p</span>
            <span aria-hidden="true">i</span>
            <span aria-hidden="true">e</span>
            <span aria-hidden="true">l</span>
            <span aria-hidden="true">e</span>
            <span aria-hidden="true">n</span>
            <span aria-hidden="true">&emsp;</span>
            <span aria-hidden="true">?</span>
        </td>
    </tr>
    <tr>
        <td>

            <table>
                <th>Test</th>
                <tr th:each="user : ${users}">
                    <td th:text="${user.name}"></td>
                </tr>
            </table>

        </td>
        <td>
            <a href="/signup" class="Activebutton">Sign up</a>
        </td>
        <td style="text-align: left">
            <img style="position:relative;" th:src="@{${'/images/effects/Monster1.png'}}" height="200px"/>
        </td>
    </tr>



</table>

<div th:switch="${users}">
        <h2 th:case="null">No users yet!</h2>
        <div th:case="*">
            <p>Existing players</p>
            <table>
                <tr>
                    <th>Name</th>
                </tr>
                <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.name}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


<!--
<img id="Image" src="../static/images/Monster.png" height="100px"/>
<img style="position:absolute;" id="Image1" onload="moveImage()" src="../static/images/effects/Monster1.png" height="100px"/>
<img style="position:absolute;" id="Image2" onload="moveImage()" src="../static/images/effects/Monster4.png" height="100px"/>

-->

<footer th:insert="fragments/common.html :: footer"></footer>
</body>
</html>