/* ------------------------------------------------------------------
 * Author: Theofanis Tsiantas
 * Developemt span: 27.12.2021 - 05.01.2022
 * Description:
 * The following css classes were used at the HTML_Mockup webpages
 * which were developed in order to test the backend and the communication.
/* ------------------------------------------------------------------

/* Classes to create a table-like feeling
   using borders and lines */
.borderClass {
    border:1px solid black;
}

.leftborderClass{
    border-left: 3px solid #000;
}

/* Class to center the text in a field*/
.centeringClass{
    text-align:center;
}

/* Generic class */
*{
    font-family:"Arial";
    font-size: 13px;
}

/* Class for aligning an element at top left corner */
.topAllignment{
    vertical-align: top;
    text-align: left;
}

/* Class for centering the text of
   equipment attributes */
.centeringEquipment{
    text-align:center;
    background-color: #b8d7f8;
}

/* class for scroll box */
.myBoxSc {
    background-color: #c7dffa;
    width: 555px;
    height: 375px;
    overflow: scroll;
 }

/* This class makes the color of a text white
   so that it is invisible... */
.hiddenText {
    color:white;
}

/* This class defines a style for the main
   player attributes (Name, Class, etc.) */
.mainAttribute {
    font-size: 15px;
    color: blue;
    text-align:center;
    border:1px solid black;
}

/* Class for the style of
   currently active buttons */
input.Activebutton{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:300;
    color:#FFFFFF;
    background-color:mediumblue;
    text-align:center;
    transition: all 0.2s;
    width: 140px;
    font-size: 12px;
}

/* Class for the hovering effect
   of currently active buttons */
input.Activebutton:hover{
    background-color:red;
}

/* Class for the style of
   currently inactive buttons */
input.Inactivebutton{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:300;
    color:#FFFFFF;
    background-color:grey;
    text-align:center;
    transition: all 0.2s;
    width: 140px;
    font-size: 12px;
}